{% extends 'inicio/base.html' %}
{% block content %}
		<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="../login" id="logo">Administrador</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="">Registrar</a>
									<ul>
										<li><a href="../registro">Usuario</a></li>
										<li><a href="../cliente">Cliente</a></li>
										<li><a href="../producto">Producto</a></li>
										<li><a href="../proveedor">Proveedor</a></li>
									</ul>
								</li>
								<li>
									<a href="">Sesion</a>
									<ul>
										<li><a href="../logout">Logout</a></li>
									</ul>
								</li>
								<li>
                                    <a href="">Reporte</a>
                                    <ul>
										<li><a href="../reporte1"></a></li>
                                        <li><a href="../reporte1">Reporte 1</a></li>
                                        <li><a href="../reporte3">Reporte 3</a></li>
                                        <li><a href="../reporte4">Reporte 4</a></li>
                                        <li><a href="../reporte5">Reporte 5</a></li>
                                        <li><a href="../reporte6">Reporte 6</a></li>
									</ul>
                                </li>
								<li><a href="../cargar">Cargar</a></li>
							</ul>
						</nav>


					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>{{ mensaje }}</h2>
									</header>
								</section>
							</div>
						</div>

				</div>
			</div>
{% endblock %}	