{% extends 'inicio/base.html' %}
{% block content %}
	<div id="header">
		<div class="container">
			<h1><a href="#" id="logo">Gestión de Inventarios</a></h1>
		</div>
	</div>
					<!-- Logo -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<section>
				<header class="major">
					<h2>Bienvenido al proyecto de Gestión de Inventarios!</h2>
					<span class="byline">La verdad esta página solo está, ya que me estaba dando problema que la inicial fuera el login jeje saludos :3</span><hr/>
					<a href="/dev/login/" class="button alt">LOGIN</a>
				</header>
									
			</section>
		</div>
	</div>		

					<!-- Banner -->
	<div id="footer">
		<div class="container">
			<section>
			
			</section>
		</div>
	</div>
{% endblock %}	