{% extends 'inicio/base2.html' %}
{% block content %}
	<div id="header">
		<div class="container">
			<h1><a href="#" id="logo">Inicio de Sesión</a></h1>
		</div>
	</div>
					<!-- Logo -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<section>
				<header class="major">
						<form method="POST">
    						{{ form.as_p }}
    						{% csrf_token %}
    						<button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
						</form>
				</header>
			</section>
		</div>
	</div>
	<div id="footer">
		<div class="container">
			<section>
			
			</section>
		</div>
	</div>
{% endblock %}	